.name {
    margin-left: 10%;
}

.img {
    margin-left: 10;
}
/* .header {
    background-image: url("../images/coffee-shop-unsplash.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
} */
/* begin particle.js css elements */
.count-particles{ 
    background: #6262ca;
    position: absolute; 
    top: 48px; left: 0; 
    width: 80px; color: #13E8E9; 
    font-size: .8em; text-align: left; 
    text-indent: 4px; line-height: 14px;
     padding-bottom: 2px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-weight: bold; 
} 
.js-count-particles{ font-size: 1.1em; 
} 
#stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; 
    margin-left: 5px;
    display: none; 
}
 #stats{ border-radius: 3px 3px 0 0; overflow: hidden;
 } 
.count-particles{ border-radius: 0 0 3px 3px; 
}



#searchBTN { 
    background-color: rgb(8, 5, 5);
    border-color: orangered;
    color: white;
    font-family: 'B612 Mono', monospace;
    border-radius: 13px;
}

#searchBTN:hover {
    border-color: rgb(237, 240, 243);
    color: orangered;
}

#searchBTN2 { 
    background-color: rgb(8, 5, 5);
    border-color: orangered;
    color: white;
    font-family: 'B612 Mono', monospace;
    border-radius: 13px;
}

#searchBTN2:hover {
    border-color: rgb(237, 240, 243);
    color: orangered;
}

#searchP{
    overflow: hidden;
}

#particles-js{
    height: 40px;
    width: 250px;
    background-color: rgb(5, 5, 5);

}

#particles-js2{
    height: 40px;
    width: 250px;
    background-color: rgb(12, 12, 11);

}

/* end particle.js css elements */



/* This is not currently being used ... 
need to figure out how to darken the image, so the text stands out */
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Paragraph content underneath title */
#landing-text {
    margin-top: 110px;
}
/* Search and Create buttons */
.btn {
    display: inline-block;
    width: 15%;
    margin: 1em;

}
/* Logo in Nav bar */
.brand-logo {
    margin-left: 1em;
}
/* Right-aligned links in Nav bar */
#nav-mobile {
    margin-right: 1em;
}
/* Background image and container for page content */
#landing {
    background-image: url("assets/images/coffee-shop-unsplash.jpg");
    opacity: 1;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

nav ul a:hover {
    color: orangered;
    background-color: rgb(245, 245, 247);
    font-size: 1.25rem;
}

#logo:hover {
    animation: shake 1.90s cubic-bezier(.36,.55,.0,.97) both;

}


@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

    @keyframes bouncing {
        0%, 50%, 100% { /* OR from, 50%, to */
            top: 0;
        }
        25%, 75% {
            top: 100px;
        }
    
    }



