/* Logo in Nav bar */
.brand-logo {
    margin-left: 1em;
}
/* Right-aligned links in Nav bar */
#nav-mobile {
    margin-right: 1em;
}
/* Centers table (On Going Events) headers */
th {
    text-align: left;
}

nav ul a:hover {
    color: orangered;
    background-color: rgb(245, 245, 247);
    font-size: 1.25rem;
}

#logo:hover {
    animation: shake 1.90s cubic-bezier(.36,.55,.0,.97) both;

}


@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
}

    @keyframes bouncing {
        0%, 50%, 100% { /* OR from, 50%, to */
            top: 0;
        }
        25%, 75% {
            top: 100px;
        }
    
    }

